@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sky-blue: #80abff;
  --oxford-blue: #00142d;
  --blizard-blue: #f5fdff;
  --dark: #0f0f0f;
  --white: #fff;
}

body {
  font-family: var(--font-kvant), sans-serif;
  background-color: var(--blizard-blue);
  color: var(--dark);
  font-size: 18px;
  line-height: 28px;
}

a {
  font-weight: 600;
  text-decoration: none;
}

h1 {
  font-family: var(--font-typeType), sans-serif;
  color: var(--sky-blue);
  letter-spacing: -.01em;
  text-shadow: 3px 3px 0 var(--oxford-blue);
  border: 1px #000;
  font-weight: 800;
  line-height: 1.1em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #00142d;
}

h3 {
  font-family: var(--font-typeType), sans-serif;
  color: var(--oxford-blue);
  margin-bottom: 0.3rem;
}

.form-input {
  min-height: 56px;
  border: 3px solid var(--oxford-blue);
  background-color: var(--white);
  box-shadow: 8px 8px 0 0 var(--oxford-blue);
  outline-color: var(--oxford-blue);
  outline-offset: 0px;
  border-radius: 7px;
  outline-width: 0;
  outline-style: none;
  margin-bottom: 0;
  padding: 14px 21px;
  font-size: 18px;
  line-height: 28px;
  transition: transform .2s, border-color .2s;
}

.main-button {
  border: 3px solid var(--oxford-blue);
  background-color: var(--white);
  color: var(--oxford-blue);
  text-align: center;
  border-radius: 10px;
  font-family: var(--font-typeType), sans-serif;
  font-weight: 600;
  transition: all .2s;
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.font-kvant{
  font-family: var(--font-kvant), sans-serif;
}

.main-button:hover {
  box-shadow: 8px 8px 0 0 var(--oxford-blue);
  transform: scale(1.04);
}

.tag-button {
  border: 3px solid var(--sky-blue);
  background-color: var(--white);
  color: var(--sky-blue);
  text-align: center;
  border-radius: 10px;
  transition: all .2s;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

